<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- added link to jquery link -->
    <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>

    <!-- added links to style sheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Endeavor</title>
  </head>

  <body>
    <!-- here is the section where handlebars will render to -->
    {{{ body }}}
    <!-- added link to js file -->  
    <script type="text/javascript" src="/assets/scripts/script.js"></script>
  </body>
</HTML>