<!-- begin page wrapper -->
<div class="page-wrap">

  <!-- begin header -->
  <div class="header">
    <div class="title"></div>
    <div class="chef"></div>
  </div>
  <!-- end header -->

  <!-- burger images -->
  <div class="burger-top"></div>
  <div class="burger-bottom"></div>

  <!-- begin content wrapper -->
  <div class="content-wrap">

    <!-- begin order up wrapper -->
    <ul class="order-panel">
      <h1 class="panel-title">Order Up</h1>
      <!-- loops through each burger -->
      {{#each burgers}}
        <!-- checks if burger has been eaten yet -->
        {{#unless this.devoured}}
          <li class="names-devour">
            <!-- runs if burger is NOT marked as eaten in DB -->
            {{this.burger_name}}
          </li>
          
          <li>  
            <!-- updates DB as this burger has been eaten. Posts to burgers_controller.js -->
            <!-- method override used to pass PUT as POST -->
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
              <button class="devour" type="submit">Devour!</button>
            </form>

          </li>
        {{/unless}}
      {{/each}}
    </ul>
    <!-- end order up wrapper -->

    <!-- begin burgers eaten wrapper -->
    <ul class="order-panel">
      <h1 class="panel-title">Burgers Eaten</h1>
      <!-- loops through each burger -->
      {{#each burgers}}
        <!-- checks if burger has been eaten yet -->
        {{#if this.devoured}} 
          <li class="eaten">
            <!-- runs if burger is marked as eaten in DB -->
            {{this.burger_name}}  
          </li>

          <!-- uncomment this form to reverse eaten status in DB -->
          <!-- <li>  
            <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="false">
              <button class="eaten" type="submit">Undevour?</button>
            </form>

          </li> -->
        {{/if}}
      {{/each}}
    </ul>
    <!-- end burgers eaten wrapper -->

  </div>
  <!-- end content wrapper -->

  <!-- begin footer -->
  <div class="footer">
    <!-- form for adding new burgers to DB. Posts to burgers_controller.js -->
    <form class="create-update-form add-form" action="burgers/create" method="POST">

      <div class="form-group">
        <input type="text" id="burger_name" class="add-burger" name="burger_name" placeholder=" Add a New Burger">
        <button class="add-burger-btn" type="submit">Add Burger</button>
      </div>

    </form>
  </div>
  <!-- end footer -->

</div>
<!-- end page wrapper