.extra-margin{
  margin-top: 100px;
}

.intro-header-index{
  background: url(../images/intro-bg.jpg) no-repeat center center;
}

.intro-header-profile {
  position: absolute;
  width: 100%;
  left: 0;
}

.intro-replace-profile {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  text-align: center;
  color: #f8f8f8;
  width: 100%;
}

.preferences-btn{
  position: absolute;
  right: 0;
  padding: 10px 50px 10px 50px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-top: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;  
}

.preferences-btn:hover{
  border-color: #f8f8f8; 
}

.pref-pic{
  border: 1px solid #f0ad4e;
  margin-top: 21px;
}

.new-job-btn{
  padding: 20px 100px 20px 100px;
  font-size: 36px;
  font-weight: bold;
  border: 1px solid #2a2a2a;
}

.job-heading{
  margin-top: 0px;
}

.job-box-container{
  margin-top: 50px;
}

.job-container{
  margin-top: 50px;
}

.job-link{
  position: relative;
  text-decoration: none;
  color: #000000;
}

.job-link:hover{
  text-decoration: none;
  color: #000000;
}

.job-box-small{
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.job-box-large{
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  background-color: #ffffff;
  border: 1px solid #2a2a2a;
  border-top-left-radius: 6px;
  border-top-right-radius: 0px;
}

.job-bid-image{
  position: absolute;
  top: -18px;
  left: -13px;
  width: 200px;
  z-index: 101;
}

.job-accepted-image{
  position: absolute;
  top: 50px;
  left: 275px;
  max-width: 563px;
  z-index: 102;
}

.job-accepted-image-sm{
  position: absolute;
  top: 160px;
  left: 43px;
  max-width: 400px;
  z-index: 102;
}

.job-hired-image{
  position: absolute;
  top: 85px;
  left: 680px;
  max-width: 299px;
  z-index: 102;
}

.job-hired-image-sm{
  position: absolute;
  top: 170px;
  left: 91px;
  max-width: 299px;
  z-index: 102;
}

.job-completed-image{
  position: absolute;
  top: 50px;
  left: 345px;
  max-width: 479px;
  z-index: 102;
}

.comp-img-container{
  position: relative;
  width:50%;
}

.job-completed-res{
  /*left: 345px;*/
  max-width: 479px;
  min-width: 250px;
  z-index: 102;
}

.job-title-box{
  position: relative;
  background-color: #2a2a2a;
  padding: 1px 15px 1px 15px;
}

.job-title{
  margin-left: 150px;
  color: #ffffff;
}

.review-title{
  color: #ffffff;
}

.job-box-image1{
  float: left;
  /*clear: right;*/
  height: 155px;
  border: 1px solid #f0ad4e;
  margin: 15px;
}

.job-box-image-lrg1{
  float: left;
  /*clear: right;*/
  height: 255px;
  border: 1px solid #f0ad4e;
  margin: 15px;
}

.job-title-desc{
  margin: 15px 15px 15px 15px;
  white-space: pre-wrap;
}

.float-right{
  position: relative;
  float: right;
}

.job-view-image{
  position: relative;
  float: right;
  height: 65px;
  margin-top: 9px;
  right: -11px;
}

.ribbon-break{
  clear: both;
  top: 134px;
}

.job-box-footer{
  position: relative;
  clear: left;
  border-top: 1px solid #f0ad4e;
  padding: 5px 15px 5px 15px; 
}

.job-box-head{
  position: relative;  
}

.job-box-feet{
  position: relative;
  clear: left;   
}

.job-box-category{
  margin-right: 15px;
  background-color: #2a2a2a;
  font-size: 12px;
  border-radius: 0px;
  border: 1px solid #2a2a2a;
}

.job-box-datesStart{
  position: relative;
  top: -36px;
  float: right;
  color: #ffffff;
  background-color: #2a2a2a;
  font-size: 18px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #2a2a2a;
  border-bottom: none;
  padding: 5px 15px 5px 15px; 
}

.job-box-datesEnd{
  float: right;
  color: #ffffff;
  background-color: #2a2a2a;
  font-size: 18px;
  border-radius: 0px;
  border: 1px solid #2a2a2a;
  border-top: none;
  padding: 5px 15px 5px 15px; 
}

.job-box-price{
  position: absolute;
  right: 15px;
  bottom: 8px;
  margin-bottom: 0;
}

.resume-title{
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  margin-bottom: 0px;
}

.resume-position{
  color: #f0ad4e;
  margin-top: 5px;
}

.resume-right{
  text-align: right;
  margin-bottom: 5px;
}

.resume-description{
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  padding: 5px 15px 5px 15px;
  margin-bottom: 0px;
  white-space: pre-wrap;
}

.resume-date{
  margin-top: 5px;
}

.summary-about{
  white-space: pre-wrap;
}

.bid-title{
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.bid-amount{
  color: #f0ad4e;
  margin-top: 5px;
  font-size: 24px;
}

.edit-buttons{
  margin-right: 15px;
  background-color: #b40505;
}

.user-thumbnail{
  float: left;
  height: 150px;
  border: 1px solid #2a2a2a;
  margin: 15px;
}

.review-box{
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  background-color: #ffffff;
  border: 1px solid #f0ad4e;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.review-title-box{
  position: relative;
  background-color: #f0ad4e;
  padding: 1px 15px 1px 15px;
}

.review-footer{
  position: relative;
  clear: left;
  border-top: 1px solid #2a2a2a;
  padding: 5px 15px 5px 15px; 
}

.no-bottom-marg{
  margin-bottom: 0px;
}

.clear{
  float: left;
  clear: both;
}

/*begin styling for rating system*/
.rating {
    float:left;
    width:160px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:34px;
    text-align:center;
    background-image: url("../images/no_star.png");
    /*color:#FFF;
    background:#ccc;*/
    font-size:30px;
    margin-right:2px;
    line-height:34px;
    /*border-radius:50%;
    -webkit-border-radius:50%;*/
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    /*background:#F90;
    color:#FFF;*/
    background-image: url("../images/star.png");
}
/*end styling for rating system*/