.intro-header-index{
  background: url(../images/intro-bg.jpg) no-repeat center center;
}

.intro-header-profile {
  position: absolute;
  width: 100%;
  left: 0;
}

.intro-replace-profile {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  text-align: center;
  color: #f8f8f8;
  width: 100%;
}

.job-box-container > a{
  text-decoration: none;
  color: #000000;
}

.job-box-small{
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
}

.job-title-box{
  position: relative;
  background-color: #2a2a2a;
  padding: 1px 15px 1px 15px;
}

.job-title{
  color: #ffffff;
}

.job-box-image1{
  float: left;
  height: 150px;
  border: 1px solid #f0ad4e;
  margin: 15px;
}

.job-title-desc{
  margin: 15px 15px 15px 15px;
}

.job-box-footer{
  clear: left;
}